
<div class = "container-fluid">
<table width=100% height=100%><tr>
  <td width=50%>
    <div class="split right">  <h3 style="text-align: center;">Digital Books Application</h3> <div class="centered"> <img src="https://www.bing.com/th?id=OIP.FzoW74c0T8rQHpA6imwj_wHaEo&w=316&h=197&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" width="700" 
  height="300"alt="Avatar woman">  </div> </div>
</td>
  <td width=50%>
    <div class="container">
      <div class="row">
          <div class="col">
              <div id="box">
                  <h3 style="text-align: center;">Login</h3>
                  <div id="items">
                      <div class="col">
                      <label for="floatingInput">Email address</label>
                          <input type="email" [(ngModel)]=auth.email  class="form-control" id="floatingInput" placeholder="name@example.com">
    
                        </div>
                        <div class="col">
                          <label for="floatingPassword">Password</label>
                          <input type="password" [(ngModel)]=auth.passWord class="form-control" id="floatingPassword" placeholder="Password">
                          
                        </div>
                        <br>
                        <div class="col">
                          <button class="btn btn-success" (click)="checkLogin()"  style="margin-bottom: 10px;" type="button">Login</button>
                        </div>
                        </div>

              </div>
          </div>
      </div>
    </div>
  </td></tr></table>

</div>
