
h1,mat-label,checkbox{
    color:blueviolet
}
p, mat-label,checkbox{
    color:grey
}
.container-fluid{
    background-color: #232946;
}


  button{
    background-color: #323a62;
    color: white;
  }
  button:hover{
    background-color: rgb(29, 90, 148);
    color: white;
  }