<div class="container-fluid">
<table width=100% height=100%><tr><td width=50%>
    <div class="split right"> <h3 style="text-align: center;">Welcome Reader</h3> <div class="centered"> <img src="https://www.bing.com/th?id=OIP.FzoW74c0T8rQHpA6imwj_wHaEo&w=316&h=197&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" width="700" 
        height="300"alt="Avatar woman">  </div> </div>
</td>
    <td width=50%>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
            
            
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="col" >
                  
                 
                   <br>
                    <a class="nav-link" routerLink="/searchBooks" href="#">Search Books</a>
                    <br>
                    <a class="nav-link" routerLink="/searchByAuthor" href="#">Search Books by author</a>
                    <br>
                    
                    <a class="nav-link" routerLink="/booksPurchased" href="#">Your Books</a>
                    <br>
                    <a class="nav-link" routerLink="/searchBookAll" href="#">Buy Books</a>
                    <br>
                    <a class="nav-link" routerLink="/searchBooksByPaymentId" href="#">Search Books By Payment Id</a>
                </div>
               
            </div>




